.button-base {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0;
  border: unset;
  padding: 0;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .button-base {
    display: flex;
    align-items: center;
  }
}

.button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: #0072ff;
}
